pkgbase = chatgpt
	pkgdesc = ChatGPT Desktop application by OpenAI
	pkgver = 26.831.20005
	pkgrel = 1
	url = https://developers.openai.com/codex/app
	arch = x86_64
	license = custom:Proprietary
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libnotify
	depends = libsecret
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxss
	depends = libxtst
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = xdg-utils
	optdepends = apparmor: AppArmor profile support
	optdepends = trash-cli: desktop trash integration
	options = !strip
	source = chatgpt_26.831.20005_amd64.deb::https://persistent.oaistatic.com/codex-app-prod/linux/deb/latest/chatgpt_amd64.deb
	sha256sums = 1cef3e8405f695b7f03fd1b072460d1185b7d53e24b727e3be25613e68a751aa

pkgname = chatgpt
